<a href="https://colab.research.google.com/github/ArvinAz/Python/blob/main/FINALPROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduction**

Computers are a device that we use for our everyday. Computers has its features that makes it different. Some computers can run faster, while others can hold more data, or have a bigger screen etc.  The list goes on and the parts and functionality of a computer determines its price and as so it may be difficult which computer to purchase. As a computer science and programming major I decided to research into this.

**Research Questions**

What components determines the price of the computer?
How did the price of the computers change overtime?
By answering this question, what parts of a computer is expensive and what parts to ignore to save money.

**Data to be used**

The dataset I will be using is on the website on Kaggle titled Basic Computer Data which has over 6000 rows of different computers. [Link to data]("https://www.kaggle.com/datasets/kingburrito666/basic-computer-data-set")

I will download the data, upload it into my GitHub, take the link of the raw data, and put in a csv variable and analyze the data in Google Colabatory (using Python).

**Approach**

Before analyzing the data, I will convert all the categorical data, cd, multiprocessors, and premium to 1 and 0 instead of yes or no. Then I will make bar graphs of the prices of computers or the speed of a computer that have a cd player or not. Then I will use a line graph to show how the prices have changed as time passes. **Please Note that this approach may be different once the research has been done**

***Note***

This proposal is likely to change once the research is one

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.svm import LinearSVR
from tensorflow import keras

import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd




df = pd.read_csv('https://raw.githubusercontent.com/ArvinAz/Python/main/Computers.csv')
df.describe()

,Unnamed: 0,price,speed,hd,ram,screen,ads,trend
count,6259.000000,6259.000000,6259.000000,6259.000000,6259.000000,6259.000000,6259.000000,6259.000000
mean,3130.000000,2219.576610,52.011024,416.601694,8.286947,14.608723,221.301007,15.926985
std,1806.961999,580.803956,21.157735,258.548445,5.631099,0.905115,74.835284,7.873984
min,1.000000,949.000000,25.000000,80.000000,2.000000,14.000000,39.000000,1.000000
25%,1565.500000,1794.000000,33.000000,214.000000,4.000000,14.000000,162.500000,10.000000
50%,3130.000000,2144.000000,50.000000,340.000000,8.000000,14.000000,246.000000,16.000000
75%,4694.500000,2595.000000,66.000000,528.000000,8.000000,15.000000,275.000000,21.500000
max,6259.000000,5399.000000,100.000000,2100.000000,32.000000,17.000000,339.000000,35.000000