<a href="https://colab.research.google.com/github/ArvinAz/Python/blob/main/FINALPROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Proposal**

**Introduction**

Computers are a device that we use for our everyday. Computers has its features that makes it different. Some computers can run faster, while others can hold more data, or have a bigger screen etc.  The list goes on and the parts and functionality of a computer determines its price and as so it may be difficult which computer to purchase. As a computer science and programming major I decided to research into this.

**Research Questions**

What components determines the price of the computer?
How did the price of the computers change overtime?
By answering this question, what parts of a computer is expensive and what parts to ignore to save money.

**Data to be used**

The dataset I will be using is on the website on Kaggle titled Basic Computer Data which has over 6000 rows of different computers. [Link to data]("https://www.kaggle.com/datasets/kingburrito666/basic-computer-data-set")

I will download the data, upload it into my GitHub, take the link of the raw data, and put in a csv variable and analyze the data in Google Colabatory (using Python).

**Approach**

Before analyzing the data, I will convert all the categorical data, cd, multiprocessors, and premium to 1 and 0 instead of yes or no so we can analyze that data. Then I will make bar graphs of the prices of computers or the speed of a computer that have a cd player or not. Then I will use a line graph to show how the prices have changed as time passes. **Please Note that this approach may be different once the research has been done**

***Note***

This proposal is likely to change once the research is one

## **Project**

Before I start cleaning up my data and make graphs, I would like to define all of the columns from the data that I choose. 

**`Price`** - How much the computer costs or how much its worth.  This is a numeric data type and it depends on the traits and parts

**Speed** - This is measured in hertz. The speed of a computer determines the central processing(The element of a computer that carries out received programming) unit to retrieve, decode, carry out, and write back functions of codes.

**hd** - is an initialism used for **hard drive**. It basically is the storage of the computer. The units for the hard drives are in gigabytes.

**Ram** - stands for random access memory. It serves as a storage for any temporary data unlike hd where it stores eternal data. It is used to handle all active tasks and apps. Ram is also measured in gigabytes. 

**Screen** - The screen size of the computer. It is measured in inches.

**cd** - Determines if a disk can be inserted in the computer.

**Multi** - Determines if a computer has multiple processors or cpus. Good for multitasking or under the demands of powerful apps and programs.

**Premium** - Determines if a machine is priced highly because of a specification offering the very latest components, sharpest screens and other components that make it stand out.

**Trend** - A number that determines the time or year the computer was made, built, or given to the public. *But this is may change overtime.*

`Now that we have identified all of the columns, lets clean the data for data visualization`

In [95]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import missingno as msno
import seaborn as sns



#column_names = ['price', 'speed', 'hard drive', 'ram', 'screen size', 'cd', 'premium', 'adds', 'trends']
df = pd.read_csv('https://raw.githubusercontent.com/ArvinAz/Python/main/Computers.csv')

#Removing the unnamed column
df = df.drop(['Unnamed: 0'],axis = 1)
df_og = df.copy()



#Changes the unnamed column to Computer#
#df.rename(columns={"Unnamed: 0":"Computer#"} ,inplace=True)

#check the dimensions of the data
print('The dimensions of the data are: ', df.shape)

#show the beginning of the data
df.head()

The dimensions of the data are:  (6259, 10)

   price  speed   hd  ram  screen  cd multi premium  ads  trend
0   1499     25   80    4      14  no    no     yes   94      1
1   1795     33   85    2      14  no    no     yes   94      1
2   1595     25  170    4      15  no    no     yes   94      1
3   1849     25  170    8      14  no    no      no   94      1
4   3295     33  340   16      14  no    no     yes   94      1

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6259 entries, 0 to 6258
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   price    6259 non-null   int64
 1   speed    6259 non-null   int64
 2   hd       6259 non-null   int64
 3   ram      6259 non-null   int64
 4   screen   6259 non-null   int64
 5   cd       6259 non-null   object
 6   multi    6259 non-null   object
 7   premium  6259 non-null   object
 8   ads      6259 non-null   int64
 9   trend    6259 non-null   int64
dtypes: int64(7), object(3)
memory usage: 489.1+ KB

In [97]:
df.nunique()

price      808
speed        6
hd          59
ram          6
screen       3
cd           2
multi        2
premium      2
ads         34
trend       35
dtype: int64

In [98]:
#check if we have any empty data
df.isna().sum()

price      0
speed      0
hd         0
ram        0
screen     0
cd         0
multi      0
premium    0
ads        0
trend      0
dtype: int64

In [99]:
from pandas.core import apply
#Copying the data in case we want to reset the data to the original.
df_og = df.copy()
#Making sure that the columns are all numeric data 
df.columns
df[[ 'price', 'speed', 'hd', 'ram', 'screen', 'ads', 'trend']] = \
 df[[  'price', 'speed', 'hd', 'ram', 'screen', 'ads', 'trend']].apply(pd.to_numeric)

df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6259 entries, 0 to 6258
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   price    6259 non-null   int64
 1   speed    6259 non-null   int64
 2   hd       6259 non-null   int64
 3   ram      6259 non-null   int64
 4   screen   6259 non-null   int64
 5   cd       6259 non-null   object
 6   multi    6259 non-null   object
 7   premium  6259 non-null   object
 8   ads      6259 non-null   int64
 9   trend    6259 non-null   int64
dtypes: int64(7), object(3)
memory usage: 489.1+ KB

In [100]:
errors = pd.DataFrame(df[pd.to_numeric(df.premium, errors='coerce').isnull()])
errors.head()

   price  speed   hd  ram  screen  cd multi premium  ads  trend
0   1499     25   80    4      14  no    no     yes   94      1
1   1795     33   85    2      14  no    no     yes   94      1
2   1595     25  170    4      15  no    no     yes   94      1
3   1849     25  170    8      14  no    no      no   94      1
4   3295     33  340   16      14  no    no     yes   94      1

In [101]:
#Here we are replacing all of the yes and nos with 1s and 0s just like a boolean
#Cd
df.replace({'cd': {'yes': 1}}, regex=False,inplace=True)
df.replace({'cd': {'no': 0}}, regex=False,inplace=True)
#Premium
df.replace({'premium': {'yes': 1}}, regex=False,inplace=True)
df.replace({'premium': {'no': 0}}, regex=False,inplace=True)
#Multi
df.replace({'multi': {'yes': 1}}, regex=False,inplace=True)
df.replace({'multi': {'no': 0}}, regex=False,inplace=True)
#df.info()
df.describe()
df_og = df.copy()

In [102]:
plt.figure(figsize=(8,5))
df['speed'].value_counts().plot(kind='bar', fontsize = 8)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  """Entry point for launching an IPython kernel.

In [103]:
df.hist(bins=50, figsize=(12,8))
plt.show()

/usr/local/lib/python3.7/dist-packages/pandas/plotting/_matplotlib/tools.py:218: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  fig = plt.figure(**fig_kw)

In [104]:


#Here we will get a bar graph of how much money for each trend computer.
ramgroup = df.groupby('trend').mean()
ram = [ram for ram, df in df.groupby('trend')]  # to extract the unique values 'names'

plt.barh(ram, ramgroup['price'], color='blue') # barh is short for horizontal bar
plt.title('The Price of Computers By Trend', color='lightcoral')
plt.ylabel('Trend')
plt.xlabel('Speed', color='lightcoral')
plt.show()

Testing

In [105]:
df_numerical = df.drop(['multi','cd','premium'],axis = 1)

df_numerical.hist(bins=50, figsize=(12,8))
plt.show()

corrMatrix = df.corr()
plt.figure(figsize=(10,7))
sns.heatmap(corrMatrix, annot=True)
plt.show()

/usr/local/lib/python3.7/dist-packages/pandas/plotting/_matplotlib/tools.py:218: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  fig = plt.figure(**fig_kw)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  import sys

In [106]:
#Seeing the speed between computers that have a cd or not.
cdgroup = df.groupby('cd').mean()
cd = [cd for cd, df in df.groupby('cd')] # to extract the unique values ex: 'yes', 'no'


plt.barh(cd, cdgroup['speed'], color='lightslategray')
plt.title('Speed of Computers With CD', color='lightslategray')
plt.xlabel('Speed', color='lightslategray')
plt.ylabel('CD')
plt.show()

In [88]:
#Changing the the numeric data to objects
df['cd'] = df['cd'].map({0: '0', 1: '1'})
#df = df_og

In [ ]:
df.describe()

,price,speed,hd,ram,screen,multi,premium,ads,trend
count,6259.000000,6259.000000,6259.000000,6259.000000,6259.000000,6259.000000,6259.000000,6259.000000,6259.000000
mean,2219.576610,52.011024,416.601694,8.286947,14.608723,0.139479,0.902221,221.301007,15.926985
std,580.803956,21.157735,258.548445,5.631099,0.905115,0.346474,0.297040,74.835284,7.873984
min,949.000000,25.000000,80.000000,2.000000,14.000000,0.000000,0.000000,39.000000,1.000000
25%,1794.000000,33.000000,214.000000,4.000000,14.000000,0.000000,1.000000,162.500000,10.000000
50%,2144.000000,50.000000,340.000000,8.000000,14.000000,0.000000,1.000000,246.000000,16.000000
75%,2595.000000,66.000000,528.000000,8.000000,15.000000,0.000000,1.000000,275.000000,21.500000
max,5399.000000,100.000000,2100.000000,32.000000,17.000000,1.000000,1.000000,339.000000,35.000000